* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  user-select: none;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-30deg, #eed0fa, #e7e2f8);
}
.cont-dash {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.4);
}
.cont-dash .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 35px;
  margin-top: 1em;
}
.cont-dash .button-logout {
  border: none;
  display: block;
  background: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
.cont-dash .button-logout i:hover {
  filter: blur(2px);
}

.container-body {
  display: grid;
  grid-template-columns: 15% auto;
}
.container-body .sidebar {
  margin: 20px 0 20px 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 14px;
  padding: 10px;
  position: relative;
  height: 96vh;
}
.container-body .sidebar ul li {
  padding: 10px 10px;
  margin: 10px 0;
}
.container-body .sidebar ul li a {
  color: #a2a2c2;
  text-transform: capitalize;
  font-weight: 400;
}
.container-body .sidebar ul li i {
  color: #a2a2c2;
  font-size: 18px;
}
.container-body .sidebar ul .dashboard {
  background: #7f78d2;
  border-radius: 8px;
  padding: 10px;
}
.container-body .sidebar ul .dashboard a {
  color: white;
}
.container-body .sidebar ul .dashboard i {
  color: white;
}

.container-body .main-body .tittle {
  padding: 15px;
  margin: 20px;
  margin-bottom: 0;
}

.container-body .main-body .greeting {
  text-transform: capitalize;
  font-weight: 400;
}

.container-body .main-body .tittle h2 {
  font-size: 25px;
  font-weight: normal;
}
