* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  user-select: none;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e7e2f8;
}
.cont-dash {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.4);
}
.cont-dash .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 35px;
  margin-top: 1em;
}
.cont-dash .button-logout {
  border: none;
  display: block;
  background: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
.cont-dash .button-logout i:hover {
  filter: blur(2px);
}

.container-body {
  display: grid;
  grid-template-columns: 15% auto;
}
.container-body .sidebar-noreact {
  margin: 20px 0 20px 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 14px;
  padding: 10px;
  position: relative;
  height: 96vh;
}
.container-body .sidebar-noreact ul li {
  padding: 10px 10px;
  margin: 10px 0;
}
.container-body .sidebar-noreact ul li a {
  color: #a2a2c2;
  font-weight: 400;
}
.container-body .sidebar-noreact ul li i {
  color: #a2a2c2;
  font-size: 18px;
}
.container-body .sidebar-noreact ul .dashboard {
  border-radius: 8px;
  padding: 10px;
}
.container-body .sidebar-noreact ul .dashboard a {
  color: black;
}
.container-body .sidebar-noreact ul .dashboard i {
  color: #7f78d2;
}

.container-body .main-body .tittle {
  padding: 15px;
  margin: 20px;
  margin-bottom: 0;
}

.container-body .main-body .greeting {
  text-transform: capitalize;
  font-weight: 400;
}

.container-body .main-body .tittle h2 {
  font-size: 25px;
  font-weight: normal;
}
.button-clients {
  padding-left: 35px;
  display: flex;
}
.button-clients-2 {
  padding-left: 10px;
  display: flex;
}
.button-clients-3 {
  padding-left: 10px;
  display: flex;
}
.ulsidebar {
  padding-left: 0;
}
.table-clients {
  padding-left: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-clients .table {
  margin: 20px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 14px;
  position: relative;
  height: 75vh;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.table-clients .table-top {
  margin: 20px 20px 0px 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 14px;
  position: relative;
  height: 75vh;
  width: 39%;
}

.table-facturas {
  padding-left: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-facturas .table {
  margin: 20px 0px 0px 0px;
  border-radius: 14px;
  position: relative;
  height: 75vh;
  width: 60%;
}
.table-facturas .table-top {
  margin: 20px 20px 0px 20px;
  border-radius: 14px;
  position: relative;
  height: 75vh;
  width: 39%;
}

.table-facturas .table .table-data {
  position: relative;
  height: 31.5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.table-facturas .table .table-costes-ini {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 14px;
  position: relative;
  height: 31.5%;
  width: 100%;
  text-align: center;
  padding: 5px;
}
.two-columns {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 14px;
  position: relative;
  height: 33%;
  width: 100%;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.table-facturas .table .table-costes-ini .inputs {
  width: 50%;
  height: 280%;
  padding-top: 0;
}
.table-facturas .table .table-costes-fin .inputs {
  width: 50%;
  height: 280%;
  padding-top: 0;
}
.table-facturas .table .table-costes-ini .output {
  position: relative;
  width: 50%;
  height: 250%;
  border: rgb(209, 209, 209) 1px solid;
  border-radius: 5px;
}
.table-facturas .table .table-costes-fin .output {
  position: relative;
  width: 50%;
  height: 250%;
  border: rgb(209, 209, 209) 1px solid;
  border-radius: 5px;
}
.table-facturas .table .table-costes-fin {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 14px;
  position: relative;
  height: 31.5%;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.table-facturas .table .table-data .table-1 {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 14px;
  position: relative;
  height: 100%;
  width: 49%;
  text-align: center;
  padding: 5px;
}
.table-facturas .table .table-data .table-2 {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 14px;
  position: relative;
  height: 100%;
  width: 49%;
  text-align: center;
  padding: 5px;
}
.table-facturas .table-top .table-analisis {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 14px;
  position: relative;
  height: 33%;
  width: 100%;
  text-align: center;
  padding: 5px;
}
.table-facturas .table-top .table-form {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 14px;
  position: relative;
  height: 99.5%;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.table-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-dashboard .dash-left {
  margin: 15px 0px 0px 0px;
  border-radius: 14px;
  position: relative;
  height: 80.5vh;
  width: 70%;
  background: rgba(255, 255, 255, 0.6);
}

.table-dashboard .dash-rigth {
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 14px;
  position: relative;
  height: 80.5vh;
  width: 30%;
}

.table-dashboard .dash-rigth .chart-pie {
  border-radius: 14px;
  position: relative;
  height: 50%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
}
.table-dashboard .dash-rigth .chart-opera {
  border-radius: 14px;
  margin-top: 20px;
  position: relative;
  height: 47.5%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
}
.table-data-cliente {
  height: 100%;
  width: 100%;
}

.input-data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.modal-centered {
  text-align: center;
}
table {
  width: 100%;
}
